.page-footer{
	width:100%;
	height:45px;
	background-color: 	#6497b1;
	margin-top: 10px;
}

.footer-container{
	width: 700px;
	color: white;
	margin: 0 auto;
	padding-top:15px;
}

.pull-right{
	float: right;
}

.github-logo{
	margin-top: -5px;
	margin-right: 5px;
	height: 25px;
}